<section class="content-header">
	<ul class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> In&iacute;cio</a></li>
        <li class="active">Home</li>
    </ul>
</section>

<section class="content">
    <form name="form" novalidate role="form" class="form-inline">
        <div class="row">
        	<h1>Home</h1>
			<fieldset>
			
				<p>
					<a ui-sref="countries">Autocomplete with countries</a>
				</p>
			
				<p>
					<a ui-sref="states">Autocomplete with states</a>
				</p>
			
				<p>
					<a ui-sref="cities">Autocomplete with cities</a>
				</p>
				

	        </fieldset>
        </div>
    </form> 

</section>