<section class="content-header">
	<ul class="breadcrumb">
        <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> In&iacute;cio</a></li>
        <li>Autocomplete</li>
        <li class="active">Countries</li>
    </ul>
</section>

<section class="content">
    <form name="form" novalidate role="form" class="form-inline">
        <div class="row">
        	<h1>Country</h1>
			<fieldset>

				<autocomplete-countries></autocomplete-countries>

	        </fieldset>
        </div>
    </form> 

</section>